*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-left: 40px;
    margin-top: 20px;
}

body{
    width: 100%;
}

/*    Header    */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color:#088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*    first page    */
#hello{
    background-image: url(ec3.jpg);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hello h4{
    padding-bottom: 15px;
}

#hello h1{
    color: #088178;
}

#hello button{
    background-image: url(button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;


}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .option {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

.option {
   
    border: none;
    outline: none;
    color: #fff;
    
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.option:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.option:active {
    color: rgb(252, 249, 249)
}

.option:active:after {
    background: transparent;
}

.option:hover:before {
    opacity: 1;
}

.option:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(254, 253, 253);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#feature .option img{
    width: 55%;
    border-radius: 20px;
}

#feature .option .aa{
    width: 80%;
}


#feature .option:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .option i{
    width: 100%;
    margin-bottom: 10px;
}

#feature .option h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .option:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .option:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .option:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .option{
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product {
    text-align: center;

}

#product .product-1{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product .pro { 
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0,02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0,06);
}

#product .pro img { 
    width: 100%;
    border-radius: 20px;
}

#product .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product .pro .des span{
    color: #606063;
    font-size: 12px;

}

#product .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}

#product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#product h3{
    text-align: left;
    font-size: 30px;
}

.cat{
    text-align: left;
    font-size: 30px;
    padding-top: 60px;
    padding-left: 80px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-image: url(ban3.png);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#banner h1{
    color: black;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 40px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 0px;
    margin-top: 0px;
}

#banner h4{
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

#banner hr{
    margin:  0px 40px;
}

#banner h3{
    color: #353535  ;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 10px;
}

#banner h3 span{
    color: black;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}


.bb h2{
    text-align: center;
    color: #fff;
		font-size: 92px;
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#271f1f 10%, #096a97 50%, #57d75b 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-emphasis-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;

}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.ani{
    width: 100%;
    height: 600px;
    margin: 0%;
    position: relative;
    animation: mymove ease 4s forwards .5s;
}


  
@keyframes mymove {
      from {
        top: 0px;
    }
      50% {
        top: 50px !important;
    } 
      to {
        top: 150px;
    }
}

form{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;;
    height: 35px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 50px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}

.sea{
    padding-left: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: -90px;
    padding-right: -20px;
    margin-top: 10px;
}

#first{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-image: url(first1.png);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#first h1{
    color: black;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 40px;
}

#first h2{
    color: rgba(88, 86, 86, 0.913);
    font-size: 30px;
    padding-left: 40px;
    padding-top: 0px;
    margin-top: 0px;
}

#first h4{
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

#first hr{
    margin:  0px 40px;
}

#first h3{
    color: #353535  ;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 10px;
}

#first h3 span{
    color: black;
}

#first button:hover{
    background: #088178;
    color: #fff;
}


#features .options img{
    width: 100%;
    border-radius: 20px;
}

#features .options .aa{
    width: 80%;
}


#features .options:hover{
    box-shadow: 40px 40px 100px rgba(70, 62, 221, 0.1);
}

#features .options i{
    width: 100%;
    margin-bottom: 10px;
    height: 90vh;
}

#features .options h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    margin-top: 50px;
}

#features .options .bike{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    margin-top: 20px;
}

#features .options:nth-child(2) h6{
    background-color: #cdebbc;
}


#features .options{
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .options {
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}



.options {
   
    border: none;
    outline: none;
    color: #fff;
    
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.options:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glow 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.options:active {
    color: rgb(252, 249, 249)
}

.options:active:after {
    background: transparent;
}

.options:hover:before {
    opacity: 1;
}

.options:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(254, 253, 253);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glow {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
